.credit-card {
  background-color: #000000;
  color: #ffff;
  padding: 30px 30px;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  width: 450px;
  height: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

/* .credit-card:hover {
  scale: 1.1;
} */

.head,
.number,
.tail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  z-index: 1;
}

.head {
  font-size: 1.3rem;
  font-weight: bold;
}

.number {
  margin-top: auto;
  font-size: 2.1rem;
  font-weight: bold;
  margin-bottom: 0.3rem; 
}

.exp {
  font-size: 0.8rem;
}

.exp-date {
  color: #d4d4d8;
  font-size: 1.3rem;
}

.circle1 {
  position: absolute;
  width: 250px;
  height: 250px; 
  border-radius: 100%;
  transform: translateY(-60%) translateX(100%);
}

.circle2 {
  position: absolute;
  width: 100px;
  height: 100px; 
  border-radius: 100%;
  transform: translateY(190%);
}